<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="css/stack-interface.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link
      href="css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/stack-interface.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body data-smooth-scroll-offset="77">
    <div class="nav-container">
      <div class="via-1654607000805" via="via-1654607000805" vio="me dao">
        <div class="bar bar--sm visible-xs">
          <div class="container">
            <div class="row">
              <div class="col-3 col-md-2">
                <a href="index.html">
                  <img class="logo logo-dark" alt="logo" src="/img/logo.png" />
                  <img class="logo logo-light" alt="logo" src="/img/logo.png" />
                </a>
              </div>
              <div class="col-9 col-md-10 text-right">
                <a
                  href="#"
                  class="hamburger-toggle"
                  data-toggle-class="#menu1;hidden-xs hidden-sm"
                >
                  <i class="icon icon--sm stack-interface stack-menu"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <nav id="menu1" class="bar bar-1 hidden-xs">
          <div class="container">
            <div class="row">
              <div class="col-lg-1 col-md-2 hidden-xs">
                <div class="bar__module">
                  <a href="index.html">
                    <img
                      class="logo logo-dark"
                      alt="logo"
                      src="/img/logo.png"
                    />
                    <img
                      class="logo logo-light"
                      alt="logo"
                      src="/img/logo.png"
                    />
                  </a>
                </div>
              </div>
              <div
                class="col-lg-11 text-right text-left-xs text-left-sm col-md-12"
              >
                <div class="bar__module">
                  <ul class="menu-horizontal text-left">
                    <li><a href="index.html" target="_self"> 首页 </a></li>
                    <li><a href="service.html" target="_self">服务</a></li>
                    <li><a href="about.html" target="_self">关于</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="main-container">
      <section class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-10">
              <div class="video-cover border--round">
                <div class="background-image-holder">
                  <img
                    alt="image"
                    src="https://static.lapus.cn/img/cowork-5.jpg"
                  />
                </div>

                <div class="video-play-icon"></div>
                <video width="1280" height="520" controls>
                  <source src="/img/yanshi.mp4" type="video/mp4" />
                </video>
              </div>
              <span>演示：How to use this site ? </span>
            </div>
          </div>
        </div>
      </section>
      <section class="bg--secondary">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-6">
              <h4>想说的话</h4>
              <p class="lead">
                <em>MP-G4 </em>愿望是打造一个界面简洁，操作方便，功能强大的应用
              </p>
              <hr class="short" />
              <p>
                董浩然、罗文杰、戴伟 负责深度学习模型的构建与训练;<br />张晓
                负责前端与后端的开发与部署。
              </p>
              <p>
                目前实现的功能有：
                <li>可以通过图片查询是否有皮肤病&具体类型</li>
                <li>可以以 凭证码 查询以前的查询</li>
              </p>
            </div>
            <div class="col-md-6">
              <div class="boxed boxed--lg bg--secondary">
                <img
                  alt="image"
                  src="/img/about/matrix.png"
                  class="border--round box-shadow-wide"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="feature feature-9">
                <img
                  class="border--round"
                  alt="Image"
                  src="/img/about/p1.png"
                />
                <h4>董浩然</h4>
                <span>ML Developer</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature feature-9">
                <img
                  class="border--round"
                  alt="Image"
                  src="/img/about/p2.jpeg"
                />
                <h4>罗文杰</h4>
                <span>ML Developer</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature feature-9">
                <img
                  class="border--round"
                  alt="Image"
                  src="/img/about/p3.jpeg"
                />
                <h4>戴伟</h4>
                <span>ML Developer</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature feature-9">
                <img
                  class="border--round"
                  alt="Image"
                  src="/img/about/p4.jpeg"
                />
                <h4>张晓</h4>
                <span>FE & BE Developer</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg--secondary">
        <div class="container">
          <div class="process-2 row">
            <div class="col-md-3">
              <div class="process__item">
                <h5>
                  <em>MP-G4</em> 成立于<em>2021</em>年<em>10</em>月 <br />
                  <em>4</em> 位创始人
                </h5>
              </div>
            </div>
            <div class="col-md-3">
              <div class="process__item">
                <h5>
                  习得Docker,Flask,Linux等知识<br /><em>2021</em> 年<em> 1 </em
                  >月
                </h5>
              </div>
            </div>
            <div class="col-md-3">
              <div class="process__item">
                <h5>
                  习得Jekyll Blog,RoboCode等<br />
                  <em>2022 </em>年<em> 5 </em>月
                </h5>
              </div>
            </div>
            <div class="col-md-3">
              <div class="process__item">
                <h5>
                  用所学知识，着手此应用开发
                  <br />
                  <em>2022 </em>年<em> 7 </em>月
                </h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer-7 text-center-xs hidden-sm">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <span class="type--fine-print"
                >© <span class="update-year">2022</span>&nbsp;MP-G4 — All Rights
                Reserved</span
              >
            </div>
            <div class="col-sm-6 text-right text-center-xs">
              <ul class="social-list list-inline">
                <li>
                  <a href="#"
                    ><i class="socicon icon socicon-qq icon--xs"></i
                  ></a>
                </li>
                <li>
                  <a href="https://github.com/MP-G4"
                    ><i class="socicon icon socicon-github icon--xs"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="socicon icon socicon-weibo icon--xs"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
