<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="css/stack-interface.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link
      href="css/bootstrap.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="css/stack-interface.css"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body data-smooth-scroll-offset="77">
    <div class="nav-container">
      <div class="via-1654607000805" via="via-1654607000805" vio="me dao">
        <div class="bar bar--sm visible-xs">
          <div class="container">
            <div class="row">
              <div class="col-3 col-md-2">
                <a href="index.html">
                  <img
                    class="logo logo-dark"
                    alt="logo"
                    src="https://static.lapus.cn/img/logo-dark.png"
                  />
                  <img
                    class="logo logo-light"
                    alt="logo"
                    src="https://static.lapus.cn/img/logo-light.png"
                  />
                </a>
              </div>
              <div class="col-9 col-md-10 text-right">
                <a
                  href="#"
                  class="hamburger-toggle"
                  data-toggle-class="#menu1;hidden-xs hidden-sm"
                >
                  <i class="icon icon--sm stack-interface stack-menu"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <nav id="menu1" class="bar bar-1 hidden-xs">
          <div class="container">
            <div class="row">
              <div class="col-lg-1 col-md-2 hidden-xs">
                <div class="bar__module">
                  <a href="index.html">
                    <img
                      class="logo logo-dark"
                      alt="logo"
                      src="img/inner-7.jpg"
                    />
                    <img
                      class="logo logo-light"
                      alt="logo"
                      src="https://static.lapus.cn/img/logo-light.png"
                    />
                  </a>
                </div>
              </div>
              <div
                class="col-lg-11 text-right text-left-xs text-left-sm col-md-12"
              >
                <div class="bar__module">
                  <ul class="menu-horizontal text-left">
                    <li><a href="index.html" target="_self"> 首页 </a></li>
                    <li><a href="service.html" target="_self">服务</a></li>
                    <li><a href="about.html" target="_self">关于</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="main-container">
      <section class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-10">
              <div class="video-cover border--round">
                <div class="background-image-holder">
                  <img
                    alt="image"
                    src="https://static.lapus.cn/img/cowork-5.jpg"
                  />
                </div>
                <div class="video-play-icon"></div>
                <iframe
                  data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1"
                  allowfullscreen="allowfullscreen"
                ></iframe>
              </div>
              <span
                >整套网页模板+构建器— 超过 <strong>17,000</strong> 个用户在使用
                <a target="_blank" href="#customise-template"
                  >Try Now ↗</a
                ></span
              >
            </div>
          </div>
        </div>
      </section>
      <section class="bg--secondary">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-md-6">
              <h4>Meet Lapus HTML Template</h4>
              <p class="lead">
                Lapus is a robust, multipurpose template built with reuse and
                modularity at the core. Blending contemporary styling with
                简洁美观, Lapus forms the ideal starting point to website
                projects of any kind.
              </p>
              <p>
                Lapus ships with over 140 content layouts, including 30 tailored
                niche homepages (from startup landing page to restaurant,
                portfolio and more) showcasing just a glimpse of what is
                possible with the detailed block and element library — from
                working social media feeds, contact forms and subscription
                blocks to fullscreen lightbox galleries and filterable
                portfolios, Lapus is infinitely reusable, the ideal go-to
                template for your client projects.
              </p>
              <p>
                Each of Lapus’s 240+ interface blocks are powered by the vast
                collection of customisable elements. This 模块化系统 empowers
                developers to create their own blocks quickly and easily leaving
                more time for layout and interface experimentation.
              </p>
            </div>
            <div class="col-md-6">
              <div class="boxed boxed--lg boxed--border bg--secondary">
                <img
                  alt="image"
                  src="https://static.lapus.cn/img/cowork-6.jpg"
                  class="border--round"
                />
                <h5>节省开发耗时</h5>
                <p>
                  使用Lapus网页模板+构建器，可以大大减少从最初的概念到生产就绪所需的时间。
                  您的客户会为此而爱上您！
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="feature feature-9">
                <img
                  class="border--round"
                  alt="Image"
                  src="https://static.lapus.cn/img/avatar-wide-1.jpg"
                />
                <h4>Mohammed Abas</h4>
                <span>Lead Developer</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature feature-9">
                <img
                  class="border--round"
                  alt="Image"
                  src="https://static.lapus.cn/img/avatar-wide-2.jpg"
                />
                <h4>Cameron Nguyen</h4>
                <span>Lead Designer</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature feature-9">
                <img
                  class="border--round"
                  alt="Image"
                  src="https://static.lapus.cn/img/avatar-wide-3.jpg"
                />
                <h4>Josie Web</h4>
                <span>Marketing Liason</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature feature-9">
                <img
                  class="border--round"
                  alt="Image"
                  src="https://static.lapus.cn/img/avatar-wide-4.jpg"
                />
                <h4>Bernice Lucas</h4>
                <span>Billing &amp; Accounts</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg--secondary">
        <div class="container">
          <div class="process-2 row">
            <div class="col-md-3">
              <div class="process__item">
                <h5>公司成立于2012<br />4 位创始人</h5>
                <p>
                  LAPUS的核心是自定义和易用性 —
                  无论您是经验丰富的开发人员还是刚刚起步的人，都将比任何传统的HTML模板更快地制作更有吸引力的网站。
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="process__item">
                <h5>
                  成功获得投资<br />
                  布雷投资
                </h5>
                <p>
                  LAPUS的核心是自定义和易用性 —
                  无论您是经验丰富的开发人员还是刚刚起步的人，都将比任何传统的HTML模板更快地制作更有吸引力的网站。
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="process__item">
                <h5>
                  利润公布<br />
                  2019年第二季度
                </h5>
                <p>
                  LAPUS的核心是自定义和易用性 —
                  无论您是经验丰富的开发人员还是刚刚起步的人，都将比任何传统的HTML模板更快地制作更有吸引力的网站。
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="process__item">
                <h5>
                  利润公布<br />
                  2019年第二季度
                </h5>
                <p>
                  LAPUS的核心是自定义和易用性 —
                  无论您是经验丰富的开发人员还是刚刚起步的人，都将比任何传统的HTML模板更快地制作更有吸引力的网站。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer-7 text-center-xs hidden-sm">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <span class="type--fine-print"
                >© <span class="update-year">2022</span>&nbsp;MP-G4 — All Rights
                Reserved</span
              >
            </div>
            <div class="col-sm-6 text-right text-center-xs">
              <ul class="social-list list-inline">
                <li>
                  <a href="#"
                    ><i class="socicon icon socicon-qq icon--xs"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="socicon icon socicon-github icon--xs"></i
                  ></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="socicon icon socicon-weibo icon--xs"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
